.wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin-bottom: 0px;
    background-color: #D8D8D8;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    z-index: 1;
}

.content {
  left: 0;
  right: 0;
  z-index: 2;
}

.logo-Margin {
    margin-top: 30px;
    margin-left: 30px;
}

.question-Font {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #54566C;
    margin-top: 20px;
}

.castName {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: #282828;
    margin-top: 20px;
}

.input-Text {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #282828;
}

.next-Button {
    border-radius: 4px;
    font-size: 24px;
    background-color: #D55656;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 14px 40px;
    border: none;
}

#cast1, #cast2, #cast3, #cast4, #cast5, #cast6, #imdb, #morebutton, #poster, #carr {
    visibility: hidden;
}

.shadow {
    box-shadow: 5px 5px 10px #888888;
}

.zindex{
    z-index: 10000;
}

.infoLabel {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: #282828;
    text-align: left;
}

.overview {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #282828;
    text-align: left;
}

body {
    background-color: #d8d8d8;
}

.footer {
  bottom: 0px;
  width: 100%;
  height: 60px;
  background-color: #545454;
}

.footerText {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 200;
    color: #d8d8d8;
    text-align: left;
}
