@media screen {
  body {
    width: 50%;
  }
}

@media print {
  body {
    width: 100%;
  }
}

@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-Regular.otf);
    font-weight: Regular;
}

@font-face {
    font-family: Montserrat;
    src: url(fonts/Montserrat-Light.otf);
    font-weight: Light;
}

.background { 
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #D8D8D8;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: 1
  display: block;
  opacity: 1;
  transition:opacity 0.5s ease-out;

}

.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
}

.logo-Margin {
    margin-top: 30px;
    margin-left: 30px;
}

.question-Font {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #54566C;
    margin-top: 20px;
}

input[type=text] {
    border: 1px solid #979797;
    border-radius: 4px;
}

.input-Text {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: light;
    color: #282828;
}

.next-Button {
    border-radius: 4px;
    font-size: 24px;
    background-color: #D55656;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 14px 40px;
    border: none;
}


#poster 
{
    width: 600px;
    visibility: hidden;
}